.cartPage {
  display: grid;
  grid-template-columns: 25% 75%;
  min-height: 100vh;
  text-align: center;
}

.cartPackagesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

/* .branchCart {
  display: grid;
  grid-template-columns: 100%;
  padding-top: 7%;
  padding-bottom: 5%;
  width: 100%;
  min-height: 100vh;
  min-width: fit-content;
}

.cardsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
} */

.purchase {
  display: none;
}

.Card:hover > .Data > .purchase {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 80px;
  margin-top: 120px;
}

.RemoveCart {
  display: none;
}

.Card:hover > .Data > .RemoveCart {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 160px;
  margin-top: -42px;
}

.hide {
  display: none;
}
