.cart {
    margin-top: 5%;
}

.RemoveCart {
    display: none;
}

.Card:hover > .Data > .RemoveCart {
    display: block;
    color: rgb(255, 255, 255);
    border-bottom: solid;
    border-color: rgb(252, 2, 2);
    border-width: 2px;
    width: fit-content;
    margin-left: 130px;
    margin-top: 60px;
}