.adminPackages {
  display: grid;
  grid-template-columns: 25% 75%;
  min-height: 100vh;
  text-align: center;
}

.allPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.publishedPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.rejectPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.notPublishedPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.AcceptThePackage {
  display: none;
}

.Card:hover > .Data > .AcceptThePackage {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 70px;
  margin-top: 120px;
}

.RejectThePackage {
  display: none;
}

.Card:hover > .Data > .RejectThePackage {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 133px;
  margin-top: -42px;
}

.DeleteThePackage {
  display: none;
}

.Card:hover > .Data > .DeleteThePackage {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 190px;
  margin-top: -42px;
}

/* .btn-success {
  margin-left: 15px;
} */
