.branchWishlist {
  display: grid;
  grid-template-columns: 100%;
  padding-top: 7%;
  padding-bottom: 5%;
  width: 100%;
  min-height: 100vh;
  min-width: fit-content;
}

.wishlistSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}
.AddCart {
  display: none;
}

.Card:hover > .Data > .AddCart {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 70px;
  margin-top: 120px;
}

.RemoveWishlist {
  display: none;
}

.Card:hover > .Data > .RemoveWishlist {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 170px;
  margin-top: -41.5px;
}
