.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider {
  display: flex;
  margin-left: 500px;
  margin-top: -250px;
  padding-bottom: 100px;
  gap: 30px;
}

.sliderButton {
  align-self: center;
  font-size: 140px;
  width: 150px;
  height: 150px;
  border: none;
  background-color: rgba(255, 255, 255, 0.001);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
}

.smallSquare1 {
  margin: 10px;
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
}

.smallSquare2 {
  margin: 10px;
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
}

.smallSquare3 {
  margin-left: 80px;
  margin-top: -140px;
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
}

.smallSquare4 {
  margin-left: 80px;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
}

.sliderButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.infoDivBranch {
  color: rgb(255, 255, 255);
  /* background: url("../assets/1431610.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 86vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  font-size: 150%;
}

.infoDivBranch2 {
  color: rgb(0, 0, 0);
  /* background: url("../assets/772940.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 86vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  font-size: 150%;
}

.infoDivBranch3 {
  color: rgb(0, 0, 0);
  /* background: url("../assets/87699.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 86vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  font-size: 150%;
}

.infoDivBranch4 {
  color: rgb(255, 255, 255);
  /* background: url("../assets/4157784.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 86vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  font-size: 150%;
}

.info {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 350px;
  margin-right: 350px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
}

.info:hover {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  transition-duration: 700ms;
}

.whyusDiv {
  color: rgb(0, 0, 0);
  /* background: url("../assets/6662022.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 86vh;
  padding-top: 150px;
}

.whyusDivBranch {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.whyusDivBranch:hover {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  transition-duration: 700ms;
}

.whyusCards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 100px;
}

.whyusCard {
  width: 200px;
  height: 200px;
}

.whyusCard:hover {
  color: rgb(155, 16, 16);
}

.symbol {
  width: 100px;
  height: 100px;
}

.whyusTitle {
  color: rgb(0, 0, 0);
  text-align: center;
}

.offersDiv {
  /* background: url("../assets/3916754.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
  padding-top: 80px;
}

.offersDivBranch {
  background-color: rgba(245, 245, 220, 0.1);
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.offersDivBranch:hover {
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  transition-duration: 700ms;
}

.offersTitle {
  color: rgb(0, 0, 0);
  text-align: center;
}

.specialOfferDiv {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 50px;
}

.homePackagesDiv {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.Card {
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  background-color: rgb(250, 247, 247);
  border: solid;
  border-color: rgb(174, 195, 213);
  border-width: 1px;
  border-radius: 20px;
  width: 300px;
  height: 350px;
  text-align: center;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.image {
  display: block;
  width: 299px;
  height: 220px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Title {
  text-align: left;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 10px;
}

.Card:hover > .Data > .Title {
  padding-top: 100px;
  color: rgb(255, 255, 255);
  transition-duration: 500ms;
}

.Category {
  display: none;
  /* text-align: left;
  padding-left: 10px;
  font-size: medium;
  font-weight: bold;
  color: rgb(0, 0, 0); */
}

.Card:hover > .Data > .Category {
  display: block;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  margin-top: -130px;
  color: rgb(255, 255, 255);
  font-size: larger;
  transition-duration: 500ms;
}

.Duration {
  text-align: left;
  padding-left: 10px;
  font-size: medium;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.Card:hover > .Data > .Duration {
  display: none;
}

.Price {
  text-align: right;
  margin-top: -80px;
  margin-right: 10px;
  font-size: medium;
  font-weight: 500;
}

.Card:hover > .Data > .Price {
  padding-top: 50px;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bold;
  transition-duration: 500ms;
}

/* .Duration {
    text-align: center;
    margin: 20px;
    margin-top: -40px;
    font-size: medium;
    font-weight: 500;
} */

.Description {
  font-size: medium;
  font-weight: 300;
  height: 80px;
  margin-top: 55px;
  display: none;
}

.Card:hover > .Data > .Description {
  display: flex;
  padding-top: 100px;
  color: rgb(255, 255, 255);
  font-size: large;
  transition-duration: 500ms;
  padding-left: 10px;
  padding-right: 10px;
}

.Card:hover > .Data {
  margin-left: -1px;
  margin-top: -350px;
  background-color: rgba(26, 40, 92, 0.6);
  display: block;
  width: 300px;
  height: 350px;
  transform: translateY(0);
  transition-duration: 500ms;
  border-radius: 20px;
}

.Card:hover > img {
  display: block;
  width: 298px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  transition-duration: 500ms;
  border-radius: 20px;
}

.Wishlist {
  display: none;
}

.Card:hover > .Data > .Wishlist {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 45px;
  margin-top: 75px;
}

.Cart {
  display: none;
}

.Card:hover > .Data > .Cart {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 165px;
  margin-top: -39.5px;
}

/* .packageButton {
    position: flex;
    background-color: aquamarine;
    border-radius: 5px;
} */
