/* .createPage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formDiv {
  text-align: center;
  background-color: rgba(205, 175, 138, 0.3);
  border: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  border-width: 1px;
  border-radius: 5%;
  width: 500px;
  height: 610px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  transform: translateY(25px);
}

::placeholder {
  color: rgb(195, 191, 198);
  display: flex;
  padding-left: 5px;
}

.formDiv:hover {
  width: 600px;
  height: 630px;
  background-color: rgba(148, 146, 142, 0.5);
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition-duration: 700ms;
}

.numberInput {
  font-size: large;
  width: 188px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.formDiv:hover > form > .numberInput {
  width: 240px;
  transition-duration: 700ms;
}

.numberInput:focus {
  background-color: rgb(254, 254, 166);
  height: 50px;
}

.descriptionInput {
  font-size: large;
  width: 400px;
  height: 120px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.formDiv:hover > form > .descriptionInput {
  width: 500px;
  transition-duration: 700ms;
}

.descriptionInput:focus {
  background-color: rgb(254, 254, 166);
  height: 150px;
}

.formInput {
  font-size: large;
  width: 400px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.formDiv:hover > form > .formInput {
  width: 500px;
  transition-duration: 700ms;
}

.formInput:focus {
  background-color: rgb(254, 254, 166);
  height: 50px;
}

.formDiv:hover > .formInput {
  font-size: large;
  width: 300px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  transition-duration: 700ms;
}

.formCheck {
  font-size: large;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.formSubmit {
  font-size: x-large;
  width: 50%;
  outline: none;
  height: fit-content;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 20px;
  color: beige;
  cursor: pointer;
  border: none;
  background-color: gray;
  padding: 10px;
}

.formSubmit:hover {
  background-color: rgb(121, 203, 170);
  color: white;
} */

.createPage {
  display: grid;
  grid-template-columns: 100%;
  padding-top: 4%;
  margin-bottom: -1%;
  width: 100%;
  min-height: 100vh;
  min-width: fit-content;
  font-family: sans-serif;
  // // background: url("../assets/v1.mp4") no-repeat center center scroll;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

.videoDiv video {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
}

.video {
  position: absolute;
  // max-width: 100%;
  // max-height: 100%;
}

.formDiv {
  margin-left: 35%;
  width: 35%;
  height: 48rem;
  min-width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin-top: -55%;
}

.createForm {
  margin: 3rem auto 0;
  width: 24rem;
}

.formSubmit {
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border: solid;
  border-color: rgb(255, 255, 255);
  border-width: 3px;
  background: #000000;
  cursor: poinrgb(0, 0, 0);
}

.formSubmit:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

form {
  // div {
  //   width: inherit;
  //   margin-bottom: 1rem;
  // }

  // label {
  //   display: block;
  //   color: rgb(0, 0, 0);
  //   font-size: larger;
  // }

  input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  // input[type="submit"] {
  //   height: 2.5rem;
  //   font-size: 1rem;
  //   font-weight: bold;
  //   color: #fff;
  //   border: solid;
  //   border-color: rgb(255, 255, 255);
  //   border-width: 3px;
  //   background: #000000;
  //   cursor: poinrgb(0, 0, 0);
  // }

  // input[type="submit"]:hover {
  //   background-color: rgb(255, 255, 255);
  //   color: black;
  // }

  input[type="checkbox"] {
    height: 1.5rem;
    cursor: pointer;
    margin-left: -11.2rem;
  }

  textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 5rem;
    background-color: #ffffff;
  }
}

.checkLabel {
  margin-top: -2rem;
  margin-left: 3rem;
}

.createFormHeader {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.createLabel {
  display: block;
  color: rgb(255, 255, 255);
  font-size: larger;
}

.checkLabel {
  display: block;
  color: rgb(255, 255, 255);
  font-size: larger;
}
