.companyPackages {
    margin-top: 5%;
    text-align: center;
}

.allPAckages {
    height: 600px;
    text-align: center;
}

.acceptedPackages {
    height: 600px;
    text-align: center;
}

.rejectPackages {
    height: 600px;
    text-align: center;
}

.DeletePackage {
    display: none;
}

.Card:hover > .Data > .DeletePackage {
    display: block;
    color: rgb(255, 255, 255);
    border-bottom: solid;
    border-color: rgb(252, 2, 2);
    border-width: 2px;
    width: fit-content;
    margin-left: 150px;
    margin-top: 60px;
}

.companyPackageButton {
    background-color: rgb(160, 46, 46);
    color: white;
    font-size: large;
    border-radius: 10px;
}