.companyPackages {
  display: grid;
  grid-template-columns: 25% 75%;
  min-height: 100vh;
  text-align: center;
}

.leftSide {
  color: rgb(0, 0, 0);
  padding-top: 25%;
  min-width: fit-content;
  border-right: 3px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  /* background-color: rgb(92, 84, 112); */
}

.rightSide {
  min-width: fit-content;
  /* background-color: rgb(219, 216, 227); */

  /* background-color: rgb(182, 181, 181); */
}

.filterButton {
  width: 80%;
  height: 50px;
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 10px;
  border: none;
  background-color: rgba(19, 19, 19);
  color: white;
  font-size: larger;
  /* font-weight: bold; */
}

.filterButton:hover {
  background-color: rgb(219, 216, 227);
  color: rgb(53, 47, 68);
}

.rightSide {
  padding-top: 7%;
  padding-bottom: 2%;
  min-width: fit-content;
}

.allCompanyPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

/* .allPackages {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
} */

.acceptedPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.rejectPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.DeletePackage {
  display: none;
}

.Card:hover > .Data > .DeletePackage {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: solid;
  border-color: rgb(252, 2, 2);
  border-width: 2px;
  width: fit-content;
  margin-left: 125px;
  margin-top: 120px;
}

/* .companyPackageButton {
  background-color: rgb(160, 46, 46);
  color: white;
  font-size: large;
  border-radius: 10px;
} */
